html, body { 
	font-family: 'Roboto', sans-serif;
	height: 100%; 
	padding: 0; 
	margin: 0; 
}

div { 
	z-index: 8;
	width: 50%; 
	height: 50%; 
	float: left; 
}

#div1 { 
	z-index: 5;
	background: #DDD; 
}

#div1:hover {
	outline: 4px solid yellow;
	outline-offset: -4px;
}

#div1 a img {
	min-width: 100%;
	max-height: 100%;
}

#div2 { 
	z-index: 5;
	background: #111;
}

#div2 a img {
	min-width: 100%;
	max-height: 100%;
}

#div3 { 
	z-index: 5;
	background: #777; 
}

#div3 a img {
	min-width: 100%;
	max-height: 100%;
}

#div4 { 
	z-index: 5;
	/*background: #444; */
}

#div4 a img {
	min-width: 100%;
	max-height: 100%
}

.animation {
	font-family: 'Archivo Black', sans-serif;
	color: black;
	z-index: 9;
	vertical-align: middle;
	justify-content: center;
	position: relative;
	top: -75%;
	left: 38%;
	position:;
	border-radius: 100%;
	width: 20em;
	height: 20em;
}